.intro-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: #FCF9EA;
  }
  
  .text {
    text-align: left;
    margin-right: 70px;
    flex: 1;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .image-wrapper {
    width: 500px;
    height: 500px;
    border-radius: 60%;
    overflow: hidden;
    margin-left: 10%;
    flex: 1;
  }
  
  img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  