.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .about-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    width: 70%;
  }
  
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3EFEF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
  }
  
  .header {
    background-color: #FF9494;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    width: 100%;
  }
  
  .header h1 {
    font-size: 36px;
    margin: 0;
    color: white;
  }
  
  .about-text {
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .image {
    margin-left: 50px;
    width: 100%;
    height: auto;
  }
  
  .image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  